@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  font-family: "Space Grotesk";
  box-sizing: border-box;
}
body {
  width: 100%;
  background: #000;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
li {
  list-style: none;
}
input {
  outline: none;
}
.container {
  max-width: 300px;
  width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
